<h1>Category</h1>

<ul>
  <% @categories.each do |category| %>
    <div id = "categories">
      <li id = "categoryName">
      <%= link_to category.name, category %>
      </li>
      <p><em><%= category.description %></em></p>
      <li>
      <%= category.name %> (Articles: <%= category.articles.count %>)
      </li>
    </div>
  <% end %>
</ul>

<h2> New Category </h2>
<%= link_to "New Category", new_category_path %>

<hr>
<h2> Author </h2>
<%= link_to "Author", authors_path %>

<hr>
<h2> Articles </h2>
<%= link_to "View Articles", articles_path %>
