<p style="color: green"><%= notice %></p>

<h2> Author </h2>
<%= render @author %>

<h2> Articles </h2>
 <% @articles.each do |article| %>
    <li>
    <%= article.title %>
    </li>
  <% end %>

<div>
  <%= link_to "Edit this author", edit_author_path(@author) %> |
  <%= link_to "Back to authors", authors_path %>

  <%= button_to "Destroy this author", @author, method: :delete %>
</div>
